extends layout

block content
	h1 A load of countries

	input(name="search" placeholder="search here" id="userSearch")
	button#search Search
	ul#result
	
	br

	button#countryLoader Load Countries

	ul.countryList 

